footer {
    padding-left: var(--calc-width);
    padding-right: var(--calc-width);
    display: grid;
    grid-template-columns: 948px auto auto;
    background-color: var(--main-color);
}

.social {
    display: flex;
    flex-direction: column;
    padding: 20px 0 20px 32px;
    align-self: center;
    align-items: start;
    justify-content: space-around;
}

.social-kolesa {
    font-size: 16px;
    line-height: 24px;
    color: white;
    cursor: pointer;
    margin-bottom: 8px;
}

.social-other {
    display: flex;
    gap: 12px;
}

.social-other .image {
    cursor: pointer;
}

.footer-text {
    color: white;
    align-self: center;
}

footer .btn {
    position: relative;
    width: 150px;
    height: 36px;
    margin: 0 40px;
    color: var(--second-color);
    background: white;
    box-shadow: 0 2px 4px var(--border-shadow-color);
    border-radius: 8px;
    align-self: center;
}

footer .btn::before {
    position: absolute;
    content: '';
    width: 150px;
    height: 36px;
    border: 1px solid var(--main-color);
    z-index: 1;
    opacity: 0.1;
    border-radius: 8px;
    box-sizing: border-box;
}
